{% extends 'layout.html' %}
{% load static %}

{% block content %}

<!--Container home inicio-->
<div class="container">

<div class="container-consejos justify-content-center">
  <div class="row">
    <img src="{% static 'images/TW-10.png' %}" class="parallax">
  </div>
</div>

<!--Container buscador-->
<div class="container">
  <div class="row">
    <div class="col">
        <div class="title-wrapper">
            <h2 class="title-consejos">CONSEJOS LOCALES</h2>
            <div class="special-line">    </div>
        </div>
    </div>
  </div>
</div>

<div class="wrap">
  <div class="search">
     <input type="text" id="search-box" class="searchTerm" placeholder="Busca el consejo de tu localidad">
    <div class="searchButton">
      <i class="fa fa-search"></i>
    </div>
  </div>
</div>

<br>

<div class="carousel"  id="search-results">
</div>

<!--Container consejos-->
<div class="container">
  <div class="row">
    <div class="col">
        <div class="title-wrapper">
            <h2 class="title-consejos">NUESTRAS 8 CURULES ESPECIALES</h2>
            <div class="special-line"></div>
        </div>
    </div>
  </div>
</div>
  
  <div class="justify-content-center ">
    <div class="row mx-auto mb-4" >
      {% for consejo in consejos %}
      {% if consejo.type_consejo == 'Curul' %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 px-3">
        <div class="card hoverable white" >
          <div class="card-image waves-effect waves-block waves-light" max-width="100%">
            <img class="activator" src="{{ consejo.logo.url }}" alt="{{ consejo.name }} logo" max-width="100%" height="250px">
          </div>
          <div class="card-content grey lighten-3">
            <span class="card-title-text black-text text-darken-4">{{ consejo.name }} </span>
          </div>
          <div class="card-reveal">
            <span class="card-title text-icons"><i class="material-icons right" style="color:purple">close</i></span>
            <br>
            <p class="text-icons">{{ consejo.description }}</p>
            <p class="text-icons">{{ consejo.email }}</p>
            <ul class="center-align">
              <li><a class="text-href" href="#sabersobre-1">Saber más</a></li>
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

<!--Container eventos y noticias-->
<div class="container">
  <div class="row">
    <div class="col">
        <div class="title-wrapper">
            <h2 class="title-consejos">EVENTOS Y NOTICIAS</h2>
            <div class="special-line">    </div>
        </div>
    </div>
  </div>
</div>

{% if latest_post %}
<div class="news">
  <img class="image_news"  src="{{ latest_post.image.url }}" alt="{{ latest_post.title }}">
  <div class="title_news">
    <p><a class="title-event-one" href="#sabersobre-1">{{ latest_post.title }}</a></p>
  </div>
</div>
{% endif %}

<br>

<div class="justify-content-center">
  <div class="row mx-auto mb-4 d-flex">
    {% for post in all_posts %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 px-3 flex-row">
      <div class="card event h-100" id="{{ post.id }}">
        <div class="card-image">
          <img class="image-event" src="{{ post.image.url }}" alt="{{ post.title }}" max-width="100%" height="250px">
          <a class="btn-floating halfway-fab waves-effect waves-light purple"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content text-event d-none order-md-2">
          <p class="text-icons">{{ post.text|safe|truncatechars_html:100 }}</p>
        </div>
        <div class="card-content title-event">
          <span class="card-title-text event-title">{{ post.title|safe }}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
