.about_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 250px;
    background: white;
    padding: 25px;
    border-radius: 25px;
    margin-bottom: 2rem;
}

.about_card img{
    width: 200px;
    height: 200px;
}

.about_flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_consejo_container{
    margin: 3rem 0;
}

.about_options a{
    background: rgb(74, 148, 218);
    padding: 10px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    margin: 2rem 0 0;

}