.line_banner{
    flex: 1;
    border-top: 2px solid fuchsia;
    margin-right: -7.5%;
}

.banner_button i{
    color: #192058;
    font-size: 28px;
    vertical-align: middle;
}

.images_container{
    margin: 3rem 0;
}

.banner_card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner_options a:first-child{
    display: block;
    background: red;
    padding: 10px 24px;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-size: 16;
    text-decoration: none;
    margin: 2rem 0 0;
}

.banner_flex{
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.banner_card{
    width: 320px;
    height: 230px;
    margin-top: 12px;
}

.banner_container{
    width: 100%;
    margin: 6em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

