.document_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 280px;
    height: 340px;
    border-radius: 25px;
    margin-bottom: 2rem;
}

.extension_icon{
    width: 50px;
    height: 50px;
}

.document_card h2{
    font-size: 20px;
}

.document_flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.document_options a:first-child{
    background: red;
    padding: 10px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    margin: 2rem 0 0;
}

.document_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.files_container{
    margin: 3rem 0;
}