.form_create{
    background-color: #f2f2f2;
    padding: 20px;
    color: #000;
    margin: 50px;
    background: #fff;
    border-radius: 25px;
    font-size: 16px;
}
  
.btn-primary{
    background: rgb(74, 148, 218);
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    margin: 2rem 0 0;
    font-weight: 500;
}

.btn-primary:hover{
    background: white;
    color: rgb(74, 148, 218);
    transition: all 0.3s ease-in-out;
} 

.form_create input[type=text], .form_create textarea{
    background: #d5d5d6;
    border-radius: 15px;
    outline: none;
}

.form_create div{
    margin: 1rem 0;
}

.form_create label{
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.message_only_element{
    color: white;
    margin: 2rem 0;
}

.message_back{
    background-color: blue;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}
      
.message_back:hover{
    background-color: white;
    color: blue;
}

.only_element_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
