.contenido-tab{
    margin-top: 2rem !important;

}
.error-red{
  color: red !important;
}

.login-img{
  width: 100px;
  height: 100px;
  justify-content: center;
}

  
  h2 {
    margin-top: 0;
    color: rgb(27, 13, 78);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-color: #0084ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #006fcc;
    border-radius: 5%;
  }
  .form-3 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  width: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 5%;
}

/* Styles for mobile */
@media (max-width: 767px) {
  .form-3 {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .login-img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
  input[type="password"] {
    padding: 5px;
    margin-bottom: 10px;
  }
  button[type="submit"] {
    padding: 5px;
    margin-top: 5px;
    font-size: 14px;
  }
}
