{% extends 'layout.html'%}

{% block content %}

{% if type_delete == 1 %}
<div class="post_delete">
    <form method="POST" action="">
        {% csrf_token %}
        <h2><i class='bx bxs-error'></i>¿Seguro que deseas eliminar "{{post.title}}"?</h2>
        <input type="submit" value="Sí, eliminar" class="btn_delete">
        <a class="buttom-back" href="{% url 'login:panel_admin' %} ">Volver</a>
    </form>
</div>
{% endif %}


{% if type_delete == 2 %}

<div class="post_delete">
    <form method="POST" action="">
        {% csrf_token %}
        <h2><i class='bx bxs-error'></i>¿Seguro que deseas eliminar "{{document.title}}"?</h2>
            <input type="submit" value="Sí, eliminar" class="btn_delete">
        <a class="buttom-back" href="{% url 'login:panel_admin' %} ">Volver</a>
    </form>
</div>

{% endif %}

{% if type_delete == 3%}

<div class="post_delete">
    <form method="POST" action="">
        {% csrf_token %}
        <h2><i class='bx bxs-error'></i>¿Seguro que deseas eliminar la imagen del Banner?</h2>
            <input type="submit" value="Sí, eliminar" class="btn_delete">
        <a class="buttom-back" href="{% url 'login:panel_admin' %} ">Volver</a>
    </form>
</div>

{% endif %}

{% if type_delete == 5%}

<div class="post_delete">
    <form method="POST" action="">
        {% csrf_token %}
        <h2><i class='bx bxs-error'></i>¿Seguro que deseas eliminar {{ collaborator.firstname }} {{collaborator.lastname}}?</h2>
        <input type="submit" value="Sí, eliminar" class="btn_delete">
        <a class="buttom-back" href="{% url 'login:panel_admin' %} ">Volver</a>
    </form>
</div>

{% endif %}

{% endblock %}