{% extends 'layout.html'%}

{% load static %}
{% block content %}

{% comment %} SECCIÓN DE NOTICIAS {% endcomment %}

<section class="news_container">
    <div class="post_button">
        <h2>NOTICIAS</h2>
        <div class="line_news"></div>
        <a href="{% url 'login:create_post'%}">
            Agregar
            <i class='bx bxs-plus-circle'></i>
        </a>
    </div>

    <div class="post_flex">
        {% for post in posts %}
        <div class="post_container">

            <div class="post_card">
                <h2> {{ post.title }} </h2>
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                <p> {{ post.subtitle | safe}}</p>
            </div>

            <div class="post_options">
                <a href="{% url 'login:delete_post' post.id %}">Eliminar</a>
                <a href="{% url 'login:update_post' post.id %}">Editar</a>
            </div>

        </div>

        {% endfor %}

    </div>


</section>

{% comment %} SECCIÓN DOCUMENTOS {% endcomment %}

<section class="files_container">

    <div class="document_button">
        <h2>DOCUMENTOS</h2>
        <div class="line_documents"></div>
        <a href="{% url 'login:create_document' %}">
            Agregar
            <i class='bx bxs-plus-circle'></i>
        </a>
    </div>

    <div class="document_flex">
        {% for document in documents %}
        <div class="document_container">

            <div class="document_card">

                <h1>{{document.title}}</h1>
                <h2> {{document.description | safe }}</h2>
                <p>{{document.date}}</p>
                <a href="{{ document.pdf.url }}" target="_blank">Ver más</a>
                {% with document.pdf.name as file_name %}
                {% with file_name|slice:'-4:' as extension %}

                {% if extension == 'docx' or extension == '.odt' %}
                <img src="{% static 'images/doc.png' %}" alt="Docx Icon" class="extension_icon">
                {% elif extension == '.pdf' %}
                <img src="{% static 'images/pdf.png' %}" alt="PDF icon" class="extension_icon">
                {% elif extension == 'xlsx' %}
                <img src="{% static 'images/docex.png' %}" alt="Xlsx Icon" class="extension_icon">
                {% else %}
                <img src="{% static 'images/landing.png' %}" alt="Default Icon" class="extension_icon">

                {% endif %}
                {% endwith %}
                {% endwith %}

            </div>

            <div class="document_options">
                <a href="{% url 'login:delete_document' document.id %}">Eliminar</a>
            </div>

        </div>
        {% endfor %}


    </div>



</section>

{% comment %} SECCIÓN BANNER {% endcomment %}

<section class="images_container">

    <div class="banner_button">
        <h2>BANNER</h2>
        <div class="line_banner"></div>
        <a href="{% url 'login:create_banner' %}">
            Agregar
            <i class='bx bxs-plus-circle'></i>
        </a>
    </div>

    <div class="banner_flex">
        {% for banner in banners %}
        <div class="banner_container">

            <div class="banner_card">
                <img src="{{ banner.image.url }}" alt="Banner Image">
            </div>

            <div class="banner_options">
                <a href="{% url 'login:delete_banner' banner.id %}"> Eliminar</a>
            </div>

        </div>

        {% endfor %}
    </div>

</section>

{% comment %} INFORMACIÓN DEL CONSEJO {% endcomment %}

<section class="info_consejo_container">

    <div class="about_button">
        <h2>INFORMACIÓN CONSEJO</h2>
        <div class="line_about"></div>
        <a href="{% url 'login:create_about' %}">
            Agregar
            <i class='bx bxs-plus-circle'></i>
        </a>
    </div>

    <div class="about_flex">
        {% for about in aboutus%}
        <div class="about_card">
            <div>
                <h2>{{ about.name}}</h2>
                <p>{{ about.description}}</p>
            </div>

            <img src="{{ about.image.url }}" alt=" Consejo Icon">
        </div>

        <div class="about_options">
            <a href="{% url 'login:update_about' about.id %}">Actualizar</a>
        </div>

        {% endfor %}

    </div>

</section>


<section class="info_collaborators_container">

    <div class="collaborators_button">
        <h2>Colaboradores</h2>
        <a href="{% url 'login:create_collaborator' %}">
            Agregar
            <img src="{% static 'images/add.svg' %}" alt="Add ICON">
        </a>
    </div>

    <div class="collaborators_flex">
        {% for collaborator in collaborators %}
        <div class="collaborator_container">

            <div class="collaborator_card">

                <img src="{{ collaborator.image.url }}" alt="Collaborator Profile Image">
                <h2>{{ collaborator.firstname}}</h2>
                <h2>{{ collaborator.lastname}}</h2>
                <h2>{{ collaborator.position}}</h2>
                <h2>{{ collaborator.description}}</h2>

                <div class="collaborator_social">
                    {% if collaborator.facebook %}
                    <a href="{{ collaborator.facebook }}"> <img src="{% static 'images/facebook.svg'%}" alt="Facebook Icon"> </a>
                    {% endif %}
                    {% if collaborator.instagram %}
                    <a href="{{ collaborator.instagram }}"> <img src="{% static 'images/instagram.svg'%}" alt="Instagram Icon"> </a>
                    {% endif %}
                    {% if collaborator.twitter %}
                    <a href="{{ collaborator.twitter }}"> <img src="{% static 'images/twitter.svg'%}" alt="Twitter Icon"> </a>
                    {% endif %}
                </div>

            </div>

            <div class="collaborator_options">
                <a href="{% url 'login:delete_collaborator' collaborator.id %}"> Eliminar</a>
                <a href="{% url 'login:update_collaborator' collaborator.id %}"> Actualizar</a>
            </div>


        </div>
        {% endfor %}

    </div>


</section>

{% endblock %}