{% extends 'layout.html' %}

{% block content %}


<!-- Creación de Post  -->
{% if type_form == 1%}
<form method="POST" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}

    {% if update == 1 %}
    <button type="submit" class="btn btn-primary">Actualizar</button>

    {% else %}
    <button type="submit" class="btn btn-primary">Crear</button>
    {% endif %}
</form>
{% endif %}

<!---->


<!-- Creación de Documentos -->
{% if type_form == 2%}

<form method="POST" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="btn btn-primary">Crear</button>
</form>

{% endif %}

<!---->


<!-- Creación de Banners -->
{% if type_form == 3%}
<form method="POST" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="btn btn-primary">Crear</button>
</form>

{% endif %}
<!---->


<!-- Creación de AboutUs -->
{% if type_form == 4%}

{% if message %}

<h2>{{message}}</h2>

{% else %}

<form method="POST" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{ form.as_p}}
    
    {% if update == 4 %}
    <button type="submit" class="btn btn-primary">Actualizar</button>

    {% else %}
    <button type="submit" class="btn btn-primary">Crear</button>
    {% endif %}
</form>

{% endif %}


{% endif %}
<!---->

{% endblock %}