  /* Style foonter */

  .color-created{
    background-color:#7C7BBC;
    }
  .title-footer{
    color: #E58EE7;
  }
  .fab,.fas {
    color: #E58EE7;
    margin-right: 10px;
  }

  .row {
    display: flex;
    align-items: center;
  }
  
  .col-md-4 {
    margin-bottom: 30px;
  }
  footer {
    margin-top: auto;
    background-color: #0f101f;    
    padding: 50px 0;

  }
