  /* Style foonter */

  .footer-years{
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin: 0%;
  }
  .color-created{
    background-color:#7C7BBC;
  }
.title-footer{
  color: #E58EE7;
}
.fab,.fas {
  color: #E58EE7;
  margin-right: 10px;
}