
/* Style General */

body {
    background: #192058;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0px;
  border: 0px;
}
  
  /* Style inicio */

.home{
  margin-top: 2REM;
}


  /* Style consejos */

.special-line {
  width: 100%;
  margin-left: auto;
  border-top: 4px solid #ff00ea;
  box-shadow: none;
}

.title-consejos{
  color: #ffffff;
  font-family: 'poppins';
  font-style: normal;
  font-size: 26px;
}

.container-consejos{
  padding: 20px;
}

/* Style media */
  

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width: 768px) {
  .center-mobile {
    text-align: center;
  }
  .footer-color{
    height: 100%;
   
  }
 .vertical-line {
      height: 20px;
    }

}  


